@model IEnumerable<string>
@{
    ViewData["Title"] = "Google Response";
}
<h1 class="bg-info text-white">Your Login Details</h1>

<table class="table table-sm table-bordered">
    <tr><th>Name</th><th>Email</th></tr>
    <tr>
        @if (Model != null)
            @foreach (string info in Model)
            {
                <td>@info</td>
            }
    </tr>
</table>